* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*section */
section#main-section {
  background-color: #fff;
  padding: 3rem 0;
}

section#main-section .flex {
  align-items: center;
  gap: 5rem;
}

section#main-section .logo {
  position: absolute;
  top: 40%;
  bottom: 35%;
  right: 65%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  z-index: 9999;
}

section#main-section h3 {
  width: 493px;
  height: 164px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #000000;
}

section#main-section p {
  width: 400px;
  height: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 3;
  display: flex;
  align-items: center;
  color: #000000;
}

section#main-section ol {
  margin-top: 3rem;
  list-style: none;
}

section#main-section li {
  font-size: 1rem;
  font-weight: 400;
  margin: 2rem 0;
}

section#main-section .counter {
  background-color: rgb(10, 38, 64);
  color: #fff;
  display: inline-flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

section#main-section .main-btn {
  background-color: rgb(10, 38, 64);
  color: #fff;
  padding: 0.8em 1.5em;
  border-radius: 15px;
  border: 2px solid gray;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  width: 98px;
  height: 28px;
  font-family: "Open Sans";
  font-size: 19px;
  line-height: 5;
}
section#main-section .main-btn:hover {
  color: #fff;
  background-color: rgb(10, 38, 64);
  opacity: 0.9;
}

/*section end*/
/*section2*/
section#home-section {
  background-color: #fff;
  padding: 20rem 0;
}

section#home-section .flex {
  align-items: center;
  gap: 15em;
}

section#home-section .logo2 {
  position: absolute;
  top: 200%;
  left: 55%;
  bottom: 70%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  z-index: 9999;
}

section#home-section h3 {
  width: 493px;
  height: 164px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  margin-bottom: 5rem;
}

section#home-section .cunter2 {
  line-height: 2;
  font-weight: 700;
  font-size: 1.5rem;
}

section#home-section .blue {
  border: 1px solid #000;
  background-color: rgb(10, 38, 64);
  color: #fff;
  width: 400px;
  height: 50px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
section#home-section .blue img {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

section#home-section .gole {
  width: 400px;
  height: 50px;
  line-height: 2;
  margin-top: 3rem;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

section#home-section .gole2 {
  width: 400px;
  height: 50px;
  line-height: 2;
  margin-top: 3rem;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

/*section2 end*/
/*section3 */
section#master-section {
  background-color: #0A2640;
}

section#master-section h2 {
  width: 716px;
  height: 139px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  align-items: center;
  color: #FFFFFF;
}

section#master-section .hidden {
  width: 50px;
  height: 50px;
  display: flex;
  gap: 2rem;
  margin-top: 10%;
  margin-left: 30%;
}

section#master-section .rest {
  width: 300px;
  height: 300px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  margin-bottom: 0 20em 70em 0;
}
section#master-section .rest .img {
  gap: 2em;
}

section#master-section .rest1 {
  width: 290px;
  height: 350px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  margin-bottom: 0 20em 70em 0;
}
section#master-section .rest1 .img {
  gap: 2em;
}

section#master-section .rest2 {
  width: 300px;
  height: 330px;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  margin-bottom: 0 20em 70em 0;
  row-gap: 20em;
}
section#master-section .rest2 .img {
  gap: 2em;
}

/*section3 end*//*# sourceMappingURL=main.css.map */